{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-internal ">

        <h1>About Us</h1>
        <p>Storing, Transporting or Handling Hazardous Materials and Dangerous Goods?</p>

        <p>{{ site.name }} has your regulatory compliance placards and labels / marks. We carry workplace safety signs,
        warning decals, vehicle lettering, building signs and signs for your posts, fences and floors. We are here to keep you
        in compliance and your employees safe with labels and signs that comply with DOT, IATA, IMO, EPA, TDG, OSHA and GHS standards. </p>

        <p>{{ site.name }} stocks materials suitable for indoor, outdoor and international labels; signs and large format decals for
        your facilities, equipment, tanks, totes, drums and rail cars.  Short term indoor paper labels, 5609 international
        films, aggressive cold temperature adhesives, non-tear paper and tyvek hang-tags with wire and grommets, long term
        outdoor laminated films, aluminums and aluminum composites that give you the ability to choose the right material for your job.
        </p>

        <p>More than two decades of experience printing compliance labels and signs gives you piece of mind, reliability and
        cost effective decision making power.</p>

    </div>
{% endblock %}
