{% extends 'base.html.twig' %}

{% block body %}
	<div class="content-internal ">
    
        <h1>Privacy Policy</h1>
        
        <ol class="privacy">
            <li>
                <h4>Introduction</h4>
                <p>
                    We are committed to maintaining the accuracy, confidentiality and security of your personally
                    identifiable information (&quot;Personal Information&quot;). As part of this commitment, our privacy policy
                    governs our actions as they relate to the collection, us and disclosure of Personal Information.  We are
                    responsible for maintaining and protecting the Personal Information under our control. We have
                    designated responsible individuals for compliance with our privacy policy.
                </p>
            </li>
            <li>
                <h4>Identifying Purposes</h4>
                <p>
                    We collect, use and disclose Personal Information to provide you with the product or service you have
                    requested and to offer you additional products and services we believe you might be interested in. The
                    purposes for which we collect Personal Information will be identified before or at the time we collect
                    the information. In certain circumstances, the purposes for which information is collected may be clear,
                    and consent may be implied, such as where your name, address and payment information is provided as
                    part of the order process.
                </p>
            </li>
            <li>
                <h4>Consent</h4>
                <p>
                    Providing us with your Personal Information is always your choice. However, your decision not to
                    provide certain information may limit our ability to provide you with our products or services. We will
                    not require you to consent to the collection, use, or disclosure of information as a condition to the
                    supply of a product or service, except as required to be able to supply the product or service. If you are
                    not comfortable providing information online, we may provide alternate means of communicating
                    information (like telephone orders).
                </p>
            </li>
            
            <li>
                <h4>Limiting Collection and Accuracy</h4>
                <p>
                    The Personal Information collected will be limited to those details necessary for the purposes identified
                    by us. With your consent, we may collect Personal Information from you in person, over the telephone
                    or by corresponding with you via mail, facsimile, or the Internet. Personal Information will be
                    maintained in as accurate, complete and up-to- date form as is necessary to fulfill the purposes for
                    which it is to be used.
                </p>
            </li>
            <li>
                <h4>Limiting Use, Disclosure and Retention</h4>
                <p>
                    Personal Information will only be used or disclosed for the purpose for which it was collected unless you
                    have otherwise consented, or when it is required or permitted by law. Personal Information will only be
                    retained for the period of time required to fulfill the purpose for which we collected it or as may be
                    required by law. We will not sell, rent, or give away your Personal Information to other third parties for
                    them to use in selling others' products or services.
                </p>
            </li>
            <li>
                <h4>Safeguarding Customer Information</h4>
                <p>
                    Personal Information will be protected by security safeguards that are appropriate to the sensitivity
                    level of the information. We take all reasonable precautions to protect your Personal Information from
                    any loss or unauthorized use, access or disclosure. When you fill out a form and submit sensitive
                    information in {{ site.name }}  store site, it is encrypted and protected by Secure Sockets
                    Layer (SSL), the industry standard for protecting your information including your credit card number,
                    during online transactions.
                </p>
            </li>
            <li>
                <h4>Customer Access</h4>
                <p>
                    Upon request, you will be informed of the existence, use and disclosure of your Personal Information,
                    and will be given access to it. You may verify the accuracy and completeness of your Personal
                    Information, and may request that it be amended, if appropriate. However, in certain circumstances
                    permitted by law, we will not disclose certain information to you. For example, we may not disclose
                    information relating to you if other individuals are referenced or if there are legal, security or
                    commercial proprietary restrictions.
                </p>
            </li>
            <li>
                <h4>Cookies</h4>
                <p>
                    A cookie is a small computer file or piece of information that may be stored in your computer's hard
                    drive when you visit our websites. We may use cookies to improve our website's functionality and in
                    some cases, to provide visitors with a customized online experience. Cookies are widely used and most
                    web browsers are configured initially to accept cookies automatically. You may change your Internet
                    browser settings to prevent your computer from accepting cookies or to notify you when you receive a
                    cookie so that you may decline its acceptance. Please note, however, if you disable cookies, you may
                    not experience optimal performance of our website.
                </p>
            </li>
            <li>
                <h4>Other Websites</h4>
                <p>
                    Our website may contain links to other third-party sites that are not governed by this privacy policy.
                    Although we endeavor to only link to sites with high privacy standards, our privacy policy will no longer
                    apply once you leave our website. Additionally, we are not responsible for the privacy practices
                    employed by third party websites. Therefore, we suggest that you examine the privacy statements of
                    those sites to learn how your information may be collected, used, shared and disclosed.
                </p>
            </li>
            <li>
                <h4>Complaints and Suggestions</h4>

                <p>
                    You may direct any questions or inquiries with respect to our privacy policy or our practices by
                    contacting us at: <span>{{ site.phone }} </span>
                </p>
            </li>
        </ul>

    </div>
{% endblock body %}
