
.button {
    color:#fff;
    font-size: 1rem;
    height: 35px;
    background-color: $brand-button-primary;
    border: 1px solid  rgb(33, 33, 61);;
    border-radius: 3px;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    margin: 0 .5rem .5rem 0;
    padding: .5em 1em;;
    display: inline-block;

    &:hover {
        color: white;
        background-color: $brand-button-primary-hover;
        cursor: pointer;
    }
}

a.button{ 
    color:#fff;
    height: 35px;
    font-size: 1rem;
    text-decoration: none;
    padding: .5em 1em;
}
.button-text {
    text-align: center;
    margin: 0 .5rem .5rem 0;
    padding: .5em 1em;
    display: inline-block;
}
a.btn-container {
    display: inline-block;
    text-decoration: none;
}

.button-secondary {
    color: white;
    background-color: $brand-button-secondary;

    &:hover {
        color: white;
        background-color:  $gray-medium;
    }
    &:focus {
        border: 1px solid black;
    }
}
.buttonRow.t-align-right button:last-of-type {
    margin-right: 0;
}