{% extends 'admin/base.html.twig' %}

{% block body %}

    <div id="contentInternal" class="content-internal admin">

        <h1>Associate Pricing to Products</h1>
        
        <div class="flex-grid  space_xs_m-b-lg">
           
            <div class="space_xs_p-r-md pace_xs_m-r-md" style="border-right: 1px solid #666">
                <h6>Filter</h6>
            </div>
            <div>
                <h6>Unassocaited Products</h6>
            </div>
            <div>
                <h6>Unassocaited Products</h6>
            </div>

        </div>
    </div>

    <noscript>
        <div>
            <h1 class="error">We're sorry!</h1>
            <h2>Javascript is required to display this site</h2>
        </div>
    </noscript>


{% endblock %}

