<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test Email</title>
</head>
<body bgcolor="#cccccc" style="font-family:arial,verdana; font-size:16px;">
    
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="width:100%; max-width:800px;">
    <tbody>
    <tr>
    <td align="center">

        <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr><td style="height:150px; background: url('../../public/images/email-banner.jpg') left / cover no-repeat #000000;  background-size:100%;">
            <img alt="FreeState Safety banner" src="../../public/images/pixel.png" width="100%" height="150px" border="0" style="display:block; ">
        </td></tr>
        <tr bgcolor="#000000" >
            <td align="center" style="padding:5px;  color:#ffffff;">
                Call us toll free at <a style="color: #8bbd56;" href="tel:+19132062651">913-206-2651</a>
            </td>
        </tr>
        <tr>
        <td style="padding:16px;">
            <div style="min-height:200px">

                <h1 style="font-size:26px; margin:0px; margin-top:12px; padding:0px;">Order Confirmation</h1>

                <p style="margin:0; padding:0">Thank you for your order. You can find your order details below.</p>

                <h2 style="font-size:18px; font-weight:bold;">Order Number: 10-2310061539</h2>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px; margin-bottom:16px;">
                <tbody>
                <tr>
                <td style="width:30%; padding:0px; vertical-align:top;">
                    <h4 style="font-size:16px; margin-bottom:3px; padding-bottom:3px; border-bottom:1px solid #666;">Customer</h4>
                    Eric Meysenburg<br>
                    Company: Test Company<br>
                    123-123-1234<br>
                    test@test.com<br>
                </td>
                <td style="width:15px"></td>
                <td style="width:30%; padding:0px; vertical-align:top;">
                    <h4 style="font-size:16px; margin-bottom:3px; padding-bottom:3px; border-bottom:1px solid #666;">Ship Address</h4>
                    1235 Test street<br>
                    Overland Park, KS 12345            
                </td>
                <td style="width:15px;"></td>
                <td style="width:30%; padding:0px; vertical-align:top;">
                    <h4 style="font-size:16px; margin-bottom:3px; padding-bottom:3px; border-bottom:1px solid #666;">Bill Address</h4>
                    1235 Test street<br>
                    Overland Park, KS 12345
                </td></tr>
                </tbody>
                </table>
                <br>

                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:14px; border-collapse: collapse; margin-top:10px; ">
                    <thead>
                        <tr bgcolor="#cccccc" style="border:1px solid #000;">
                            <th style="padding:6px; border:1px solid #999999;">Item</th>
                            <th style="padding:6px; border:1px solid #999999;">Product</th>
                            <th style="padding:6px; border:1px solid #999999;">Qty</th>
                            <th style="padding:6px; border:1px solid #999999;">Price</th>
                            <th style="padding:6px; border:1px solid #999999;">Totals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr bgcolor="#ffffff" style="border-bottom:1px solid #999999; ">
                            <td style="padding:6px; border:1px solid #999999;" align="left" nowrap>L304</td>
                            <td width="100%;" style="padding:6px; border:1px solid #999999;" align="left">Flammable Gas Class 2 D.O.T. 4"x4" Label</td>
                            <td style="padding:6px; border:1px solid #999999;" align="center">1</td>
                            <td style="padding:6px; border:1px solid #999999;" align="right">$14.50</td>
                            <td style="padding:6px; border:1px solid #999999;" align="right">$14.50</td>
                        </tr>
                        <tr bgcolor="#ffffff" style="border-bottom:1px solid #999999; ">
                            <td style="padding:6px; border:1px solid #999999;" align="left" nowrap>L341Custom</td>
                            <td width="100%;" style="padding:6px; border:1px solid #999999;" align="left">Custom 4" x 5" Limited Quantity with Description Strip</td>
                            <td style="padding:6px; border:1px solid #999999;" align="center">1</td>
                            <td style="padding:6px; border:1px solid #999999;" align="right">$40.00</td>
                            <td style="padding:6px; border:1px solid #999999;" align="right">$40.00</td>
                        </tr>
                        
                        <tr style="border:1px solid #cccccc; ">
                            <td bgcolor="#eeeeee" align="right"colspan="4" style="padding:6px; border:1px solid #999999;"><b>Subtotal</b></td>
                            <td bgcolor="#ffffff" align="right" style="padding:6px; border:1px solid #999999;">$54.50</td>
                        </tr>
                        <tr style="border:1px solid #cccccc; ">
                            <td bgcolor="#eeeeee" align="right" colspan="4" style="padding:6px; border:1px solid #999999;"><b>Shipping (UPS Ground)</b></td>
                            <td bgcolor="#ffffff" align="right" style="padding:6px; border:1px solid #999999;">$12.56</td>
                        </tr>
                        <tr style="border:1px solid #cccccc; ">
                            <td bgcolor="#eeeeee" align="right" colspan="4" style="padding:6px; border:1px solid #999999;"><b>Total</b></td>
                            <td bgcolor="#ffffff" align="right" style="padding:6px; border:1px solid #999999;">$67.06</td>
                        </tr>
                    </tbody>
                </table>

                <p style="font-size:14px;color:#999999;">
                    At FreeState Safety, Inc;  we respect the privacy of all our customers. We take our customers privacy very seriously.
                    Please read our <a style="color:#999;" href="http://www.freestatesafety.com/privacy">Privacy Policy</a> carefully so that you understand how we collect,
                    access, use, disclose, and secure your personal information.
                </p>

                <a style="height:auto; border-radius:8px; padding:10px 14px; color:#fff; font-weight:bold; background-color:#155494; text-decoration:none;" 
            href="{{ absolute_url(path('reset_password', {token: token})) }}">Reset Password</a>



            </div>
        </td>
        </tr>
        <tr bgcolor="#000000" style="color:#ffffff;">
            <td nowrap style="font-size:14px; text-align:center; padding:10px;">
                <span style="font-size:14px;">FreeState Safety, Inc</span>
                <span style="padding:0 10px;">&bull;</span>
                <span style="font-size:14px;">608 South Metcalf Rd, Louisburg, KS 66053</span>
            </td>
        </tr>
        </tbody>
        </table>

    </td>
    </tr>
    </tbody>
    </table>   

</body>
</html>
