{% extends 'email/base.html.twig' %}

{% block title %}
    {{site.name}} Password Reset
{% endblock %}

{% block body %}

    <h1 style="font-size:26px; margin-top:0; margin-bottom:16px;">Password Reset</h1>

    <p style="padding:0; margin:0; margin-bottom:16px;">
        We received a request to reset your password for your {{ site.name }} account.
        This is done for your protection - only you, the recipient of this email, can take the next step in the password recover process.
    </p>

    <p style="padding:0; margin:0; margin-bottom: 50px;">
        To reset your password and access your account, click the button below.
    </p>

    <div style="vertical-align:middle; margin-bottom:32px">
        <a href="{{ absolute_url(path('reset_password', {token: token})) }}">
            <button 
                id="ResetBtn"
                style=" padding:10px 14px; color:#fff; background-color:#155494; text-decoration:none;" >
                    <b>Reset Password</b>
            </button>
        </a>
    </div>


{% endblock %}
